body {
    
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/072/390/non_2x/kids-baby-seamless-monkey-pattern-vector.jpg');
      
    
    background-size: cover;
    
    background-position: center;
    
    background-repeat: repeat;
    
   
    margin: 0; 
    font-family: Arial, sans-serif;
}